.header { position: fixed; top: 0; width: 100%; z-index: 999999; height: 85px; background: #276984; }
.header .container { width: 1200px; }
.header .header_nav .navbar-default { background: none; border: none; border-radius: 0; margin: 0; }
.header .header_nav__logo { width: 112px; transition: 0.5s; position: relative; z-index: 10; margin-top: 9px; margin-right: 7px; }
.header .header_nav__logo.big-logo { width: 170px; margin-top: 7px; }
.header .deviz { float: right; margin-top: 18px; width: 75px; color: #f4c94a; font-weight: 700; margin-left: 6px; line-height: 1.4; }
.header .navbar-collapse { padding: 0 !important; }
.header .navbar-nav a.support { margin-top: 16px; margin-left: 42px; background-color: #164a60; padding: 14px 26px; border-radius: 5px; font-weight: 700; transition: 0.25s; font-size: 20px; color: #f4c94a; }
.header .navbar-nav a.support:hover { background-color: #133f52; color: #f4c94a; }
.header .navbar-nav a.apps { margin-left: 6px; }
.header .navbar-nav { float: right; margin-top: 3px; }
.header .navbar-nav a { padding-left: 0; padding-right: 0; }
.header .header_nav__logo.big-logo, .header .header_nav__logo { margin-left: 5px; }

.navbar-default .navbar-toggle { border: none; padding: 13px 11px 14px 11px; margin: 0; }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background: none; }
.navbar-default .navbar-toggle .icon-bar { background-color: #f5ca4a; }
.navbar-default .navbar-toggle .icon-bar { height: 4px; border-radius: 2px; width: 29px; }

@media screen and (max-width:767px) {
	.header .navbar-nav { margin: 2px 0 0; }
	.header .navbar-nav li { margin: 0 2px 5px; }
	.header .navbar-nav li a { width: 145px; margin: 0 !important; text-align: center; padding: 0; }
	.header .navbar-nav li a.support { padding-left: 0; padding-right: 0; }
	.header #responsive-menu { float: right; border-color: transparent; }
}













/* .headhesive .nav > li{
	padding: 0 7px;
	transition: 0.25s;
	border-bottom: 3px solid rgba(0, 0, 0, 0);
} */
/* .header_nav .navbar-default .navbar-nav > li > a{
	color: #f0be2a;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0px;
} */
/* .header_nav .navbar-default .navbar-nav > li > a:focus,
.header_nav .navbar-default .navbar-nav > li > a:hover{
	color: #f0be2a;
} */
/* .header_nav .navbar-toggle{
	margin-top: 23px;
	border: none;
	transition: 0.25s;
	margin-bottom: 0;
} */
/* .header_nav .navbar-default .navbar-toggle:hover,
.header_nav .navbar-default .navbar-toggle:focus{
	background: none;
} */
/* .header_nav .navbar-default .navbar-toggle .icon-bar{
	background-color: #fbc72c;
	height: 5px;
	width: 41px;
	margin-bottom: 5px;
	transition: 0.25s;
} */
/* .header_nav .navbar-default .navbar-toggle .icon-bar:last-child{
	margin-bottom: 0;
} */
/* .header_nav .navbar-default .navbar-collapse{
	border: none;
	margin-top: -23px;
	transition: 0.25s;
} */


/* .headhesive{
	background: #276984;
	position: fixed;
	width: 100%;
	transition: 0.25s;
	opacity: 1;
	z-index: 10;
} */
/* .headhesive--stick{
	height: 85px;
	background: #276984;
	transition: 0.25s;
} */
/* .headhesive--stick .header_nav__logo{
	width: 120px;
	transition: 0.25s;
} */
/* .headhesive--stick .navbar-default .navbar-nav > li > a{
	padding-bottom: 12px;
} */
/* .headhesive--stick .nav{
	margin-top: 3px;
	transition: 0.25s;
} */
/* .headhesive--stick .navbar-toggle{
	margin-top: 23px;
	transition: 0.25s;
} */
/* .headhesive--stick .navbar-default .navbar-collapse{
	margin-top: -21px;
} */







@media (min-width: 1200px){
	/* .header_nav .container {
	    width: 1200px !important;
	} */
	/* .header_nav .navbar-default .navbar-nav .support {
		margin-top: 16px;
		margin-left: 25px;
		background-color: #164a60;
		padding: 14px;
		border-radius: 5px;
		font-weight: 700;
		padding-left: 28px;
		padding-right: 28px;
		transition: 0.25s;
	} */
	/* .header_nav .navbar-default .navbar-nav .support:hover {
		background-color: #133f52;
	} */
}
/* @media (min-width: 767px) and (max-width: 1200px){
	.header_nav .navbar-default .navbar-nav > li > a{
		font-size: 16px;
		padding-right: 0;
	}
	.header_nav .nav > li{
		padding: 0 11px;
	}
	.header_nav .navbar-default .navbar-nav .support {
		margin-top: 16px;
		margin-left: 0px;
		background-color: #164a60;
		padding: 14px;
		border-radius: 5px;
		font-weight: 700;
		padding-left: 28px;
		padding-right: 28px;
		transition: 0.25s;
	}
	.header_nav .navbar-default .navbar-nav .support:hover {
		background-color: #133f52;
	}
} */
/* @media (min-width: 768px) and (max-width: 992px){
	.header_nav .nav{
	margin-top: 0px;
	}
	.header_nav{
	height: 85px;
	}
	.header_nav .navbar-default .navbar-nav > li > a{
		font-size: 13px;
		padding-right: 0;
		padding-top: 18px;
		padding-bottom: 13px;
	}
	.header_nav__logo{
		width: 130px;
		margin-left: 0;
	}
	.headhesive--stick .header_nav__logo{
		width: 120px;
	}
	.header_nav .nav > li{
		padding: 0 7px;
	}
	.header_nav .navbar-default .navbar-nav .support {
		margin-top: 18px;
		margin-left: 0px;
		background-color: #164a60;
		padding: 14px;
		border-radius: 5px;
		font-weight: 700;
		padding-left: 28px;
		padding-right: 28px;
		transition: 0.25s;
	}
	.header_nav .navbar-default .navbar-nav .support:hover {
		background-color: #133f52;
	}
	.header_nav__logo {
	    width: 170px;
	    transition: 0.25s;
	    position: relative;
	    z-index: 10;
	    margin-top: 7px;
	    margin-left: -15px;
	    margin-right: 7px;
	}
} */
/* @media (max-width: 767px){
	.header_nav .navbar-collapse{
	background: rgba(0, 0, 0, 0.8);
	margin-top: -15px;
	}
	.headhesive--stick .navbar-default .navbar-collapse{
		background: rgba(0, 0, 0, 0.85);
	}
	.header_nav__logo{
		margin-left: 10px;
		float: left;
		width: 120px;
	}
	.navbar-nav__activ,
	.header_nav .nav > li:hover{
	border-bottom: none;
	}
	.navbar-nav__activ,
	.header_nav .nav > li:hover{
		background: #1e1e1e;
		transition: 0.25s;
	}
	.header_nav .nav > li{
		margin: 0;
		padding: 20px 15px;
		vertical-align: middle;
	}
	.header_nav .navbar-default .navbar-nav > li > a{
		padding: 0;
	}
	.headhesive .nav > li{
		border-bottom: none;
	}
	.header_nav .navbar-default .navbar-nav .support {
		margin-top: 16px;
		margin-left: 25px;
		background-color: #164a60;
		padding: 14px;
		border-radius: 5px;
		font-weight: 700;
		padding-left: 28px;
		padding-right: 28px;
		transition: 0.25s;
	}
	.header_nav .navbar-default .navbar-nav .support:hover {
		background-color: #133f52;
	}
	.deviz {
	    float: left;
	    margin-top: 30px;
	    width: 155px;
	    color: #f4c94a;
	    font-weight: 700;
	    margin-left: 10px;
	}
} */
/*@media (min-width: 992px){
	.container {
    width: 980px!important;
	}
}*/
/* @media (min-width: 768px) and (max-width: 992px){
		.header_nav .container{
		width: 743px;
		padding: 0;
	}
} */











































/* .header-body{
	max-width: 1200px;
	margin: 0 auto;
} */
/* .header-body_tagline{
	width: 555px;
	height: 555px;
	background: rgba(0, 0, 0, 0.65);
	float: right;
	text-align: right;
	border-radius: 270px;
	margin-top: 41px;
	margin-right: 10px;
} */
/* .header-body_tagline h1{
	margin-top: 105px;
	margin-right: 75px;
} */
/* #contact,
#step,
#card,
#advantages,
#ixat{
	height: 40px;
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
} */

/* @media (max-width: 991px){
	.header{
		height: 600px;
	}
	.header-body_tagline{
		width: 450px;
		height: 450px;

	}
	.header-body_tagline h1{
	margin-top: 75px;
	margin-right: 55px;
	}
} */
/* @media (max-width: 480px){
	body .header{
		height: 450px;
	}
	.header-body .header-body_tagline{
		width: 290px;
		height: 290px;
		margin: 0 auto;
		float: none;
		text-align: center;
	}
	.header-body .header-body_tagline h1{
		font-size: 38px;
		padding-top: 60px;
		margin-top: 50px;
		margin-right: 0;
	}
	.header_nav{
		height: 53px;
	}
	.header_nav .navbar-toggle{
		margin-top: 5px;
		margin-right: 0;
	}
	.header_nav__logo {
	    width: 65px;
	    margin-top: 7px;
	    margin-left: 12px;
	}
	.deviz {
	    float: left;
	    margin-top: 15px;
	    width: 155px;
	    color: #f4c94a;
	    font-weight: 700;
	    margin-left: 10px;
	}
	.header_nav .navbar-default .navbar-collapse{
		margin-top: -23px;
	}

	.header_nav .navbar-default .navbar-nav > li > a{
		color: #f0be2a;
		text-align: center;
	}
	.headhesive--stick{
		height: 53px;
	}
	.headhesive--stick .header_nav__logo{
		width: 65px;
		margin-top: 7px;
	}
	.headhesive--stick .navbar-toggle{
		margin-top: 7px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.headhesive--stick .navbar-default .navbar-collapse{
		margin-top: -12px;
	}
	.headhesive--stick .navbar-default .navbar-toggle .icon-bar{
		height: 3px;
		width: 30px;
		margin-bottom: 3px;
		transition: 0.25s;
	}
	#contact,
	#step,
	#card,
	#advantages,
	#ixat{
	height: 20px;
}
} */